{{> head}}
{{> navbar}}

<div class="container">

    <div class="col-6">
        <h1>Mis imagenes</h1>
    </div>

    <div class="col-6">
        <img src="assets/images/code.jpg" alt="code" class="img-thumbnail">
    </div>

</div>


{{> footer}}